[Unit]
Description=Athena Bot

[Service]
Type=simple
User=root
ExecStart=/bots/athena/.env/bin/python /bots/athena/main.py
Environment=PYTHONUNBUFFERED=1
Restart=always

[Install]
WantedBy=multi-user.target
